[submodule "juce"]
	path = ext/juce
	url = ../../juce-framework/JUCE.git
[submodule "react_juce/yoga"]
	path = react_juce/yoga
	url = https://github.com/facebook/yoga.git
[submodule "react_juce/hermes"]
	path = react_juce/hermes
	url = https://github.com/facebook/hermes.git
[submodule "react_juce/third_party/duktape"]
	path = react_juce/third_party/duktape
	url = https://github.com/svaarala/duktape.git
	shallow = true
